

// Styles for Footer 

.footer {
  background: @gray-dark;
  color: #f2f2f2;
}

.footer h2 {
  font-size: @font-size-h4;
}

.footer a {
  color: #aee2ff;
}

.footer a:hover, .footer a:focus {
    color: #157ab5;
    text-decoration: underline;
}

